@model IEnumerable<YahooScraper.Models.StockTable>

@{
    ViewBag.Title = "Scraped Reset";
}

<h2>Scraper Reset</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <input type="submit" class="btn btn-secondary" value="Back" onclick="location.href='@Url.Action("ViewTable","StockTables")'" />
        </div>
        <div align="right" class="col">
            <input style="align-items: flex-end" type="submit" class="btn btn-danger" value="Reset" onclick="location.href='@Url.Action("Reset", "StockTables")'" />
        </div>
    </div>
</div>
    <hr />
    <div class="container">
        <table class="table table-sm table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Symbol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Change)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChgPc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Currency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarketTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Volume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvgVol3m)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarketCap)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Change)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChgPc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarketTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Volume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvgVol3m)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarketCap)
                    </td>

                </tr>
            }
        </table>
    </div>
